cfgv==3.4.0
distlib==0.3.8
filelock==3.13.1
identify==2.5.33
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.8.0
platformdirs==4.1.0
pre-commit==3.6.0
Pygments==2.17.2
PyYAML==6.0.1
rich==13.7.0
setuptools==69.0.2
virtualenv==20.25.0
